<h1>Editing event condition</h1>

<%= render "form", event: @event, event_condition: @event_condition %>

<br>

<div>
  <%= link_to "Show this event condition", @event_condition %> |
  <%= link_to "Back to event conditions", event_conditions_path %>
</div>
