<p style="color: green"><%= notice %></p>

<%= render @event_condition %>

<div>
  <%= link_to "Edit this event condition", edit_event_event_condition_path(@event_condition.event, @event_condition) %>
</div>
