<div class="row">
  <div class="col s12">
    <h3>Nuevo Emitter</h3>
  </div>
</div>

<%= render 'form', emitter: @emitter %>

<div class="row">
  <div class="col s12">
    <%= link_to 'Cancelar', admin_emitters_path, class: 'waves-effect waves-light btn-flat' %>
  </div>
</div>
