<div class="row">
  <div class="col s12">
    <h3>Editar Emitter</h3>
  </div>
</div>

<%= render 'form', api_credential: @api_credential %>

<div class="row">
  <div class="col s12">
  </div>
</div>
