<script>
function CopyToClipboard(id)
{
  var r = document.createRange();
  r.selectNode(document.getElementById(id));
  window.getSelection().removeAllRanges();
  window.getSelection().addRange(r);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
}
</script>

<div id="<%= dom_id api_credential %>">
  <p>token:</p>
  <p id="token-<%= api_credential.id %>" class="token-wrapper"><%= api_credential.token %></p>
  <a href="#" onclick="CopyToClipboard('token-<%= api_credential.id %>');return false;">Copy Text</a
</div>
