<p style="color: green"><%= notice %></p>

<%= render @api_credential %>

<div>
  <%= link_to "Back to api credentials", api_credentials_path %>

  <%= button_to "Destroy this api credential", @api_credential, method: :delete %>
</div>
