<div id="<%= dom_id scene %>">
  <p>
    <strong>User:</strong>
    <%= scene.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= scene.name %>
  </p>

  <p>
    <strong>Notification setting:</strong>
    <%= scene.notification_setting_id %>
  </p>

</div>
