<h1>Settings</h1>

<%= render @setting %>

<div>
  <%= link_to "Edit setting", edit_setting_path %>
</div>
<div>
  <%= link_to "Manange pasword", edit_user_registration_path %>
</div>
<div>
  <%= link_to "Manange api keys", api_credentials_path %>
</div>

