<div id="<%= dom_id notification_setting %>">
  <p>
    <strong>Chat:</strong>
    <%= notification_setting.chat_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification_setting.message %>
  </p>

</div>
