<h1>Editing notification setting</h1>

<%= render "form", notification_setting: @notification_setting %>

<br>

<div>
  <%= link_to "Show this notification setting", @notification_setting %> |
  <%= link_to "Back to notification settings", notification_settings_path %>
</div>
