<div class="container">
  <h1 class="title">AlarmX</h1>
  <div class="buttons">
    <%= link_to 'Login', new_user_session_path, class: 'button button--login' %>
    <%= link_to 'Sign up', user_registration_path, class: 'button button--signup' %>
  </div>
</div>
