<h2>Buldings</h2>
<ul class="collection">
  <% @buildings.each do |building| %>
    <li class="collection-item">
      <%= link_to building.name, building_path(building) %>
    </li>
  <% end %>
</ul>

<div class="resource__actions">
  <%= link_to "Add new building", new_building_path, class: "button button--add" %>
</div>
