<h2>
  <%= @building.name %>
</h2>

<ul class="collection">
  <% @sensors.each do |sensor| %>
    <li
        id="sensor-<%= sensor.id%>"
        class="collection-item <% if sensor.state  %>teal<% else %>red<% end %>" >
      <%= link_to sensor.name, sensor_path(sensor) %>
    </li>
  <% end %>
</ul>
