<div class="row">
  <div class="col s12">
    <h3>Editar Emitter</h3>
  </div>
</div>

<%= render 'form', sensor: @sensor %>

<div class="row">
  <div class="col s12">
    <%= link_to 'Volver', admin_sensor_path(@sensor), class: 'waves-effect waves-light btn-flat' %>
  </div>
</div>
