<h1>Emitters</h1>

<div id="emitters">
  <% @emitters.each do |emitter| %>
    <%= render emitter %>
    <p>
    <%= link_to "Show this emitter", building_emitter_path(emitter.building, emitter) %>
    </p>
  <% end %>
</div>
