<div id="<%= dom_id sensor %>">
  <p>
    <strong>Name:</strong>
    <%= sensor.name %>
  </p>

  <p>
    <strong>Mac:</strong>
    <%= sensor.mac %>
  </p>

  <p>
    <strong>State:</strong>
    <%= sensor.state %>
  </p>
</div>
