<h1>Editing sensor</h1>

<%= render "form", sensor: @sensor %>

<br>

<% content_for :navbar_buttons do %>
  <li>
    <%= link_to "Cancel", @sensor, class: 'btn btn-flat' %>
  </li>
  <li>
    <%= link_to sensor_path(@sensor), class: 'btn red', data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } do %>
      <i class="material-icons">delete</i>
  <% end %>
  </li>
<% end %>
