<h2><%= @sensor.name %></h2>

<div id="sensor-<%= @sensor.id%>">
  <p>
    <strong>Mac:</strong>
    <%= @sensor.mac %>
  </p>
  <p>
    <strong>State:</strong>
    <%= @sensor.state %>
  </p>
</div>
<div id="root"></div>

