<div class="row">
  <div class="col s12">
    <h3>Editar Setting</h3>
  </div>
</div>

<%= render 'form', setting: @setting %>

<div class="row">
  <div class="col s12">
    <%= link_to 'Volver', admin_setting_path(@setting), class: 'waves-effect waves-light btn-flat' %>
  </div>
</div>
