<div class="row">
  <div class="col s12">
    <h3>Editar edificio</h3>
  </div>
</div>

<%= render 'form', building: @building %>

<div class="row">
  <div class="col s12">
    <%= link_to 'Volver', admin_building_path(@building), class: 'waves-effect waves-light btn-flat' %>
  </div>
</div>
