/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, p:empty {
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
  background: #b9e5ebc4;
}
body.pages {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.resource-title {
  display: flex;
  gap: 2%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.button:hover {
  background-color: #3e8e41;
}

.button--login {
  font-size: 1.5rem;
  background-color: #2196f3;
}

.button--login:hover {
  background-color: #0c7cd5;
}

.button--signup {
  font-size: 1.5rem;
  background-color: #f44336;
}

.button--signup:hover {
  background-color: #d30505;
}

.button--add {
  background-color: #2196f3;
}

.button--add:hover {
  background-color: #0c7cd5;
}

.form__field {
  margin-bottom: 1rem;
}

.form__field label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form__actions {
  margin-top: 1rem;
}

.resource__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resource__item {
  margin-bottom: 1rem;
}
.resource__item.resource__item--green a {
  background-color: #b3d8b3;
}
.resource__item.resource__item--red a {
  background-color: #b41010;
  color: white;
}

.resource__item a {
  display: block;
  padding: 0.5rem;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
}

.resource__item a:hover {
  background-color: #e0e0e0;
}

.resource__actions {
  text-align: center;
  margin-top: 2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  width: 16px;
  height: 16px;
}
.icon img{
  width: 100%;
  height: 100%;
}

.icon:hover {
  background-color: #0062cc;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu ol {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  flex: 1;
}

.menu-item {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-item-building {
  background-image: url("building.svg");
}

.menu-item-user {
  background-image: url("user.png");
}

.menu-item-notifications {
  background-image: url("notification.svg");
}
