/*
 *= require materialize
 *= require_tree .
 *= require_self
 */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

.token-wrapper {
  width: 100%;
  overflow: scroll;
  background: #e5e5e5;
  padding: 2%;
  margin: 0%;
}
body.pages {
  background: url('background.png');
  background-size: cover;
}
.pages h1 {
  font-size: 5rem;
}
.valign-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.collection-item.teal a,
.collection-item.red a {
  color: white;
}
