<div class="row">
  <div class="col s12">
    <h3>Nuevo User</h3>
  </div>
</div>

<%= render 'form', user: @user %>

<div class="row">
  <div class="col s12">
    <%= link_to 'Cancelar', admin_users_path, class: 'waves-effect waves-light btn-flat' %>
  </div>
</div>
